@tailwind base;
@tailwind components;
@tailwind utilities;

/* Make the app fill the viewport */
html,
body,
#root {
  height: 100%;
}

/* Global styles */
body {
  @apply bg-synBg text-slate-900;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
}
